.banner__content{
    background-color: #080808;
    color: white;
}

.availble__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
    
}

.available__title{
    font-size: var(--size-sm);
    font-weight: 300;
}

.available__subtitle{
    font-size: var(--size-2xl);
    font-weight: 600;
    text-transform: capitalize;
}

.available__facts{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: var(--size-sm);
    font-weight: 100;
}

.fact{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
   
}

.record{
    font-size: var(--size-2xl);
    color: rgb(11, 182, 11);
}

.heading{
    font-weight: 500;
    text-transform: capitalize;
}

.banner__circle{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 0.3rem;
   margin-left: 1px;
   
}

/* med queries*/

/* xs*/
 @media (min-width:475px){
   
}


@media (min-width:640px){
    
}

/*md*/
@media (min-width:768px){
    .banner__content{
        background-color: #080808;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-left: 1rem;

    }
    
   
    
    .available__title{
        font-size: var(--size-sm);
        font-weight: 300;
       margin-right: 7rem;
    }
    
    .available__subtitle{
        font-size: var(--size-2xl);
        font-weight: 600;
        text-transform: capitalize;
    }
    
    .available__facts{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: var(--size-sm);
        font-weight: 100;
    }
    
    .fact{
        display: flex;
        gap: 1rem;
        margin-left: 1.5rem;
       
    }
    
    .record{
        font-size: var(--size-2xl);
        color: rgb(11, 182, 11);
    }
    
    .heading{
        font-weight: 500;
        text-transform: capitalize;
    }
    
    .banner__circle{
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        background-color: white;
        color: black;
        padding: 0.3rem;
       margin-left: 1px;
       
    }

    .banner__btn{
        margin-top: 1rem;
        margin-right: 3rem;
    }
}

/*lg*/
@media (min-width:1024px){
   
}

/*xl*/
 @media (min-width:1280px){
    .banner__content{
        background-color: #080808;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-left: 1rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
       

    }
    
   
    
    .available__title{
        font-size: var(--size-sm);
        font-weight: 300;
       margin-right: 7rem;
    }
    
    .available__subtitle{
        font-size: var(--size-2xl);
        font-weight: 600;
        text-transform: capitalize;
    }
    
    .available__facts{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: var(--size-sm);
        font-weight: 100;
    }
    
    .fact{
        display: flex;
        gap: 1rem;
        margin-left: 1.5rem;
       
    }
    
    .record{
        font-size: var(--size-2xl);
        color: rgb(11, 182, 11);
    }
    
    .heading{
        font-weight: 500;
        text-transform: capitalize;
    }
    
    .banner__circle{
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        background-color: white;
        color: black;
        padding: 0.3rem;
       margin-left: 1px;
       
    }

    .banner__btn{
        margin-top: 1rem;
        margin-right: 3rem;
    }
} 