.nav__menu{
    position: fixed;
    right: 0;
    top:0;
    background: var(--clr-white);
    color: black;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    text-align: center;
    z-index: 999;
    text-transform: uppercase;
    
    transition: transform .5s ease-in-out;
    transform: translateX(100%);
}

.open-nav{
    transform: translateX(0%);
}

.header__menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap: 3rem;
   margin-top: 6rem;
    list-style-type: none;
}

.header__link-mobile{
    text-decoration: none;
    color: black;
}

.close{
    width: 3rem;
    height: 3rem;
    float: right;
    margin: 2rem;
    cursor: pointer;
   
}

.close path{
    stroke: black;
    fill: black;
}

.socials__mobile{
    align-items: center;
}

.socials__icons-mobile{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.socials__icons-mobile:hover{
transform: translateY(-3px);
}