.news__container{
    background-color: white;
    margin-top: 20rem;
}

.news__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   padding: 3rem 0;
    margin-left: 2.5rem;
    
   
}

.news__title{
    text-transform: capitalize;
    font-size: var(--size-sm);
    font-weight: 200;
}

.news__subtitle{
    font-size: var(--size-3xl);
    font-weight: 600;
    text-transform: capitalize;
}

.horrizontal__lines{
    position: relative;
    display: flex;
   
   
}

.short{
    position: absolute;
    width: 10px; 
    height: 1px;
    border-bottom: 2px solid var(--clr-rose);
    margin-top: 0.5rem;
   
}
.short-2{
    position: absolute;
    width: 10px; 
    height: 1px;
    border-bottom: 2px solid var(--clr-rose);
    margin-top: 0.5rem;
    margin-left: 4.5rem;
   
}

.long{
    position: absolute;
    width: 30px; 
    /* height: 1px; */
    border-bottom: 2px solid var(--clr-rose);
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    
}

.news__blogs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 4rem;
}


.news__card{
    border: 1px solid white;
    z-index: 99;
    width: 18rem;
    height: 25rem;
    text-align: left;
    margin-top: 3rem;
    /* padding-left: 1rem; */
    background-color: white;
    padding-bottom: 3rem;

}

.news__card-1{
   
    z-index: 99;
    width: 18rem;
    height: 21rem;
    text-align: left;
    margin-top: 3rem;
    /* padding-left: 1rem; */
    background-color: white;
    padding-bottom: 3rem;
    border: .5px solid rgb(174, 172, 172);
}

.blog__img{
   width: 24rem;
   height: 12rem;
}

.news-card__title{
    font-size: var(--size-sm);
    text-transform: capitalize;
   margin-top: 1.5rem;
   margin-bottom: .5rem;
   margin-left: .5rem;
    color: var(--clr-rose);
}

.news__card-description{
    font-size: var(--size-md);
    font-weight: 600;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.news__card-description-summary{
    font-size: var(--size-md);
    font-weight: 700;
    margin-left: .5rem;
    margin-bottom: 1rem;
    padding: 1rem ;
}

.news__card-description-1{
    font-size: var(--size-sm);
    font-weight: 200;
    margin-left: .5rem;
}

.blog__summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
  

}

.date__comments{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    margin-top: -1.5rem;
}
.date,
.comments{
    font-size: var(--size-sm);
    font-weight: 200;
}

hr{
    width: 14rem;
    margin-left: 2rem;
}


/* med query*/

/* xs*/
 @media (min-width:475px){
   
}


@media (min-width:640px){
    
}

/*md*/
@media (min-width:768px){
    
    .news__container{
    background-color: white;
    margin-top: 20rem;
}

.news__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   padding: 3rem 0;
    margin-left: 2.5rem;
    
   
}

.news__title{
    text-transform: capitalize;
    font-size: var(--size-sm);
    font-weight: 200;
}

.news__subtitle{
    font-size: var(--size-3xl);
    font-weight: 600;
    text-transform: capitalize;
}

.horrizontal__lines{
    position: relative;
    display: flex;
   
   
}

.short{
    position: absolute;
    width: 10px; 
    height: 1px;
    border-bottom: 2px solid var(--clr-rose);
    margin-top: 0.5rem;
   
}
.short-2{
    position: absolute;
    width: 10px; 
    height: 1px;
    border-bottom: 2px solid var(--clr-rose);
    margin-top: 0.5rem;
    margin-left: 4.5rem;
   
}

.long{
    position: absolute;
    width: 30px; 
    /* height: 1px; */
    border-bottom: 2px solid var(--clr-rose);
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    
}

.news__blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
    
}


.news__card{
    border: 1px solid white;
    z-index: 99;
    width: 18rem;
    height: 25rem;
    text-align: left;
    margin-top: 3rem;
    /* padding-left: 1rem; */
    background-color: white;
    padding-bottom: 3rem;
}

.news__card-1{
   
    z-index: 99;
    width: 18rem;
    height: 21rem;
    text-align: left;
    margin-top: 3rem;
    /* padding-left: 1rem; */
    background-color: white;
    padding-bottom: 3rem;
    border: .5px solid rgb(174, 172, 172);
}

.blog__img{
   width: 24rem;
   height: 12rem;
}

.news-card__title{
    font-size: var(--size-sm);
    text-transform: capitalize;
   margin-top: 1.5rem;
   margin-bottom: .5rem;
   margin-left: .5rem;
    color: var(--clr-rose);
}

.news__card-description{
    font-size: var(--size-md);
    font-weight: 600;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.news__card-description-summary{
    font-size: var(--size-md);
    font-weight: 700;
    margin-left: .5rem;
    margin-bottom: 1rem;
    padding: 1rem ;
}

.news__card-description-1{
    font-size: var(--size-sm);
    font-weight: 200;
    margin-left: .5rem;
}

.blog__summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
  

}

.date__comments{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    margin-top: -1.5rem;
}
.date,
.comments{
    font-size: var(--size-sm);
    font-weight: 200;
}

hr{
    width: 14rem;
    margin-left: 2rem;
}
}

/*lg*/
@media (min-width:1024px){
   
}

/*xl*/
 @media (min-width:1280px){
     
    .news__container{
        background-color: white;
        margin-top: 20rem;
    }
    
    .news__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
       padding: 3rem 0;
        margin-left: 2.5rem;
        
       
    }
    
    .news__title{
        text-transform: capitalize;
        font-size: var(--size-sm);
        font-weight: 200;
    }
    
    .news__subtitle{
        font-size: var(--size-3xl);
        font-weight: 600;
        text-transform: capitalize;
    }
    
    .horrizontal__lines{
        position: relative;
        display: flex;
       
       
    }
    
    .short{
        position: absolute;
        width: 10px; 
        height: 1px;
        border-bottom: 2px solid var(--clr-rose);
        margin-top: 0.5rem;
       
    }
    .short-2{
        position: absolute;
        width: 10px; 
        height: 1px;
        border-bottom: 2px solid var(--clr-rose);
        margin-top: 0.5rem;
        margin-left: 4.5rem;
       
    }
    
    .long{
        position: absolute;
        width: 30px; 
        /* height: 1px; */
        border-bottom: 2px solid var(--clr-rose);
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        
    }
    
    .news__blogs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 1rem;
        
    }
    
    
    .news__card{
        border: 1px solid white;
        z-index: 99;
        width: 18rem;
        height: 25rem;
        text-align: left;
        margin-top: 3rem;
        /* padding-left: 1rem; */
        background-color: white;
        padding-bottom: 3rem;
    }
    
    .news__card-1{
       
        z-index: 99;
        width: 18rem;
        height: 28rem;
        text-align: left;
        margin-top: 3rem;
        /* padding-left: 1rem; */
        background-color: white;
        padding-bottom: 3rem;
        border: .5px solid rgb(174, 172, 172);
    }
    
    .blog__img{
       width: 24rem;
       height: 12rem;
    }
    
    .news-card__title{
        font-size: var(--size-sm);
        text-transform: capitalize;
       margin-top: 1.5rem;
       margin-bottom: .5rem;
       margin-left: .5rem;
        color: var(--clr-rose);
    }
    
    .news__card-description{
        font-size: var(--size-md);
        font-weight: 600;
        margin-left: .5rem;
        margin-bottom: 1rem;
    }
    
    .news__card-description-summary{
        font-size: var(--size-md);
        font-weight: 700;
        margin-left: .5rem;
        margin-bottom: 1rem;
        padding: 1rem ;
    }
    
    .news__card-description-1{
        font-size: var(--size-sm);
        font-weight: 200;
        margin-left: .5rem;
    }
    
    .blog__summary{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    
    }
    
    .date__comments{
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 1rem;
        margin-top: -1.5rem;
        
    }
    .date{
        font-size: var(--size-sm);
        font-weight: 200;
    }
    .comments{
        font-size: var(--size-sm);
        font-weight: 200;
      
    }
   
    
    hr{
        width: 14rem;
        margin-left: 2rem;
    }
} 

