.our__plans{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.plans__title{
    font-size: var(--size-sm);
    font-weight: 200;
}

.plans__subtitle{
    font-size: var(--size-2xl);
    font-weight: 600;
}

.plans__content{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.horrizontal__lines{
    position: relative;
    display: flex;
   
   
}

.short{
    position: absolute;
    width: 10px; 
    height: 1px;
    border-bottom: 2px solid var(--clr-rose);
    margin-top: -0.5rem;
   
}
.short-2{
    position: absolute;
    width: 10px; 
    height: 1px;
    border-bottom: 2px solid var(--clr-rose);
    margin-top: -0.5rem;
    margin-left: 4.5rem;
   
}

.long{
    position: absolute;
    width: 30px; 
    /* height: 1px; */
    border-bottom: 2px solid var(--clr-rose);
    margin-top: -0.5rem;
    margin-left: 1.5rem;
    
}

.plans__btns{
    position: relative;
}

.monthly__btn{
    position: absolute;
    z-index: 1;
    
   
}

.yearly__btn{
position: absolute;
margin-left: 4.5rem;
display: inline-block;
font-weight: 600;
text-decoration: none;
letter-spacing: -0.05em;
background-color: white;
color: var(--clr-rose);
padding: 0.5em 1em;
border-radius: 18px;
border: 1px solid white;
box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px
rgba(225, 29, 72, 0.5),0 0 100px -10px var(--cr-rose) ;

}

.test{
    font-size: var(--size-sm);
}
